# Teleoperation; Python 3.10.
# ROS 1 and a Python 3.10-compatible cv_bridge are installed separately.

numpy==1.26.4
scipy==1.14.1
matplotlib==3.9.2
PyYAML==6.0.2
torch==2.4.1
dex-retargeting==0.4.6
nlopt==2.7.1
pytransform3d==3.14.1
sapien==3.0.0b1
avp-stream==2.51
av==13.1.0
aiortc==1.10.1
grpcio==1.67.1
grpcio-tools==1.67.1
protobuf==5.28.2
mujoco==3.2.4
dynamixel-sdk==3.7.31
pyserial==3.5
ur-rtde==1.5.8
pyrealsense2==2.55.1.6486
open3d==0.19.0
opencv-python==4.10.0.84
zarr==2.16.1
numcodecs==0.12.1
netifaces==0.11.0
rospkg==1.6.0
catkin-pkg==1.1.0
pin==2.7.0
cmeel-boost==1.83.0
cmeel-urdfdom==3.1.1.1
cmeel-tinyxml2==9.0.0
hpp-fcl==2.4.4
eigenpy==3.5.1
setuptools==80.9.0
absl-py==2.1.0
addict==2.4.0
aioice==0.10.2
annotated-types==0.8.0
anytree==2.13.0
asciitree==0.3.3
asttokens==3.0.2
attrs==26.1.0
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.0.0
cmeel==0.61.0
cmeel-assimp==5.4.3.1
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-zlib==1.3.2
comm==0.2.3
configargparse==1.7.7
contourpy==1.3.0
cryptography==45.0.7
cycler==0.12.1
dash==4.4.1
decorator==5.3.1
distro==1.9.0
dnspython==2.8.0
docutils==0.23
etils==1.9.4
exceptiongroup==1.3.1
executing==2.2.1
fasteners==0.19
fastjsonschema==2.22.2
filelock==3.16.1
flask==3.1.3
fonttools==4.54.1
fsspec==2024.9.0
gdown==6.4.0
glfw==2.7.0
google-crc32c==1.8.0
idna==3.10
ifaddr==0.2.0
importlib-metadata==8.5.0
importlib-resources==6.4.5
ipython==8.39.0
ipywidgets==8.1.9
itsdangerous==2.2.0
janus==2.0.0
jedi==0.20.0
jinja2==3.1.4
joblib==1.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-core==5.9.1
jupyterlab-widgets==3.0.17
kiwisolver==1.4.7
lxml==5.3.0
markupsafe==3.0.1
matplotlib-inline==0.2.2
mpmath==1.3.0
narwhals==2.26.0
nbformat==5.11.1
nest-asyncio==1.6.0
networkx==3.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
packaging==24.1
pandas==2.2.3
parso==0.8.7
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
plotly==7.1.0
prompt-toolkit==3.0.53
ptyprocess==0.7.0
pure-eval==0.2.4
pycparser==2.22
pydantic==2.11.10
pydantic-core==2.33.2
pydub==0.25.1
pyee==13.0.1
pygments==2.18.0
pylibsrtp==1.0.0
pyopengl==3.1.7
pyopenssl==25.3.0
pyparsing==3.1.4
pyperclip==1.11.0
pyquaternion==0.9.9
pysocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
referencing==0.37.0
requests==2.32.3
retrying==1.4.2
rpds-py==0.30.0
scikit-learn==1.7.2
six==1.16.0
soupsieve==2.9.2
stack-data==0.6.3
sympy==1.13.3
threadpoolctl==3.5.0
tomli==2.4.1
tqdm==4.66.4
traitlets==5.16.1
transforms3d==0.4.2
trimesh==5.1.0
triton==3.0.0
typing-extensions==4.12.2
typing-inspection==0.4.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.8.4
websocket-client==1.9.2
werkzeug==3.1.8
widgetsnbextension==4.0.16
zipp==3.20.2
